{% extends '::base.html.twig' %}

{% block title %}Filmy{% endblock %}

{% block body -%}
<div class="row">
    {% for entity in entities %}

    <div class="col-lg-4">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ path('_show', { 'id': entity.id }) }}">{{ entity.title }}</a></h3>
            </div>
            <div class="panel-body" style="padding-bottom:5px">
                <blockquote>
                    {{ entity.description|length > 250 ? entity.description|slice(0, 250) ~ '...' : entity.description  }}
                   
                </blockquote>
                {# obliczanie średniej oceny recenzentow #}
                {% set sumratings = 0 %}
                {% for review in entity.reviews %}
                  {% set sumratings = sumratings + review.rating %}
                {% endfor %}
                <div style="padding-bottom:-10px">
                    <div class="col-xs-2" style="padding:0px"><strong>${{ entity.price }}</strong></div>
                    <div class="col-xs-7" style="padding:0px;">Ocena: recenzentow: <strong>{{ (sumratings/(entity.reviews|length+1))|round }}</strong></div>
                    <div class="col-xs-3" style="padding:0px;">Redakcji: <strong>{{ entity.rating }}</strong></div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="coll-md-12">
                    <a  class="btn btn-info" href="{{ path('review_show', { 'id': entity.id }) }}" data-target="#myModal">Pokaz opinie ({{ entity.reviews|length }}) <i class="glyphicon glyphicon-eye-open"  ></i></a>


                    <a class="btn btn-success" onclick="addToCart({{ entity.id  }}, '{{ entity.title  }}')"style="position: relative;right: -20%;">Do koszyka<i class="glyphicon glyphicon-shopping-cart" ></i></a>
                </div>
            </div>
        </div>


    </div>
    {% if loop.index is divisibleby(3) %}
     </div>
     <div class="row">
    {% endif %}
    {% endfor %}

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Recenzje</h4>

            </div>
            <div class="modal-body" style="padding-top: 0px"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
    <script type="text/javascript">
        $("a[data-target=#myModal]").click(function(ev) {
            ev.preventDefault();
            var target = $(this).attr("href");

            // load the url and show modal on success
            $("#myModal .modal-body").load(target, function() { 
                 $("#myModal").modal("show"); 
            });
        });

        var items = [];
        function addToCart(id, title)
        {
            // film jest juz w koszyku
            if (items.indexOf(id)>-1)
                return;
            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-top messenger-on-right',
                maxMessages: 15,
                theme: 'flat'
            }
            if (items.length == 0)
            {
                var msg;
                msg = Messenger().post({
                  message: "",
                  hideAfter: 1000,
                  actions: {
                    retry: {
                      label: 'Potwierdź',
                      action: function() {
                        location.href='{{ path('purchase_new') }}?ids='+items.join(',');

                      }
                    },
                    cancel: {
                      label: 'Kasuj koszyk',
                      action: function() {
                        //kasuj koszyk
                        items = [];
                        Messenger().hideAll();
                        return msg.cancel();
                      }
                    }
                  }
                });
            }

            items.push(id);
            Messenger().post({
              message: title,
              hideAfter: 1000,
        
            });
        }
    </script>

{% endblock %}



