{% extends '::base.html.twig' %}
{% block body -%}
<div class="row">
    {% for entity in entities %}
    <div class="col-lg-4">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ path('_show', { 'id': entity.id }) }}">{{ entity.title }}</a></h3>
            </div>
            <div class="panel-body" style="padding-bottom:5px">
                <blockquote>
                    {{ entity.description }}
                </blockquote>


                <div style="padding-bottom:-10px">
                    <div class="col-xs-6" style="padding:0px"><strong>${{ entity.price }}</strong></div>
                    <div class="col-xs-6 pull-right" style="padding:0px; text-align:right">Ocena: {{ entity.rating }}</div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="coll-md-12">

                    <a class="btn btn-info" href="{{ path('purchase_new', { 'id': entity.id }) }}" >Pokaz opinie <i class="glyphicon glyphicon-eye-open" ></i></a>


                    <a class="btn btn-success" href="{{ path('purchase_new', { 'id': entity.id }) }}" style="position: relative;right: -41%;">Kup <i class="glyphicon glyphicon-shopping-cart" ></i></a>
                </div>
            </div>
        </div>


    </div>
    {% endfor %}

</div>

{% endblock %}