<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/sklep/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">

      <nav>
        <h3 class="text-muted">Sklep z filmami</h3>
        <ul class="nav nav-pills nav-justified" >
          <li class="active"><a href="{{ path('movie') }}">Główna - filmy</a></li>
          <li><a href="{{ path('review') }}">Recenzje</a></li>
          <li><a href="{{ path('_new') }}">Dodaj film</a></li>
          <li><a href="{{ path('purchase') }}">Przeglądaj zamówienia</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </nav>
      <hr>
      {% block body %}{% endblock %}


      <!-- Site footer -->
      <hr>
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
        



        {% block javascripts %}
            <script src="{{ asset('bundles/sklep/js/jquery.min.js') }}"></script>
            {% javascripts 'bundles/sklep/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
