{% extends '::base.html.twig' %}
{% block body -%}
<div class="box-info full">
    <!-- Tab comments and popular posts -->
    <!-- Begin scroll wrappper -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;"><div class="scroll-widget">
        <ul class="media-list">
            {% for entity in entities|reverse|default('var is not defined')  %}
            <li class="media">
                <a class="pull-left" href="#fakelink">
                <img id="{{ entity.id }}" class="" style="max-width:74px" src="{{ asset("bundles/sklep/img/loading.gif")}}" alt="Avatar">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#fakelink">{{ entity.autor }}</a>
                    <small>o Filmie - </small>  {{ entity.movie.title|default('') }} <small>{{ entity.date|date('M, d-Y H:i:s') }} </small></h4>
                    <p>{{ entity.comment }}</p>
                    <p>Ocena: {% for i in (1..entity.rating)|slice(0, 5) %}
                    <span class="glyphicon glyphicon-star-empty"></span>
                    {% endfor %}</p>
                </div>
            </li>
            <script>
                                $.getJSON( "http://uifaces.com/api/v1/random?i={{ entity.id }}", function( data ) {
                                    $('#{{ entity.id }}').attr("src", data.image_urls.bigger)
                                });
                                // pobieranie randomwych avatarow
            </script>
            {% endfor %}
        </ul>
    </div>
    <div class="box-footer">

        </div><!-- End div .tab-pane -->

        <!-- End tab comment and popular posts -->
    </div>
    {% endblock %}