<!-- Begin tab comment and popular posts -->
<div class="box-info full">
    <!-- Tab comments and popular posts -->


            <!-- Begin scroll wrappper -->
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 325px;"><div class="scroll-widget">
                <ul class="media-list">

                    {% for entity in entities %}
                    <li class="media">
                        <a class="pull-left" href="#fakelink">
                        <img id="{{ entity.id }}" class="" style="max-width:74px" src="{{ asset("bundles/sklep/img/loading.gif")}}" alt="Avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#fakelink">{{ entity.autor }}</a> <small>January 17, 2014 05:35 PM</small></h4>
                            <p>{{ entity.comment }}</p>
                            <p>Ocena: {% for i in (0..entity.rating)|slice(0, 10) %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                            {% endfor %}</p>
                        </div>
                    </li>
                    <script>
                    $.getJSON( "http://uifaces.com/api/v1/random?i={{ entity.id }}", function( data ) {
                        $('#{{ entity.id }}').attr("src", data.image_urls.bigger)
                    });
                    // pobieranie randomwych avatarow
</script>
                    {% endfor %}
                </ul>
            </div>
            <div class="box-footer">
            </div>
            </div><!-- End div .tab-pane -->


  
            <!-- End tab comment and popular posts -->
        </div>
