<!-- Begin tab comment and popular posts -->
<div class="box-info full">
    <!-- Tab comments and popular posts -->


            <!-- Begin scroll wrappper -->
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;"><div class="scroll-widget">
                <ul class="media-list">

                    {% for entity in entities %}
                    <li class="media">
                        <a class="pull-left" href="#fakelink">
                        <img id="{{ entity.id }}" class="" style="max-width:74px" src="{{ asset("bundles/sklep/img/loading.gif")}}" alt="Avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#fakelink">{{ entity.autor }}</a> <small>January 17, 2014 05:35 PM</small></h4>
                            <p>{{ entity.comment }}</p>
                            <p>Ocena: {% for i in (0..entity.rating)|slice(0, 10) %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                            {% endfor %}</p>
                        </div>
                    </li>
                    <script>
                    $.getJSON( "http://uifaces.com/api/v1/random?i={{ entity.id }}", function( data ) {
                        $('#{{ entity.id }}').attr("src", data.image_urls.bigger)
                    });
                    // pobieranie randomwych avatarow
            </script>
                    {% endfor %}
                </ul>
            </div>
            <div class="box-footer">
                <div id="addNew" style="display:none;"> 

                    {{ form_start(form) }}
                        {% do form.submit.setRendered %}
                    {{ form_end(form) }}


                </div>
                 <button type="button" class="btn btn-success" onclick="recenzje();">Dodaj recenzje</button>
            </div>
            </div><!-- End div .tab-pane -->


    
            <!-- End tab comment and popular posts -->
        </div>
<script>
$("#addNew form").submit(function() {

    var url = "{{ path('review_create')}}"; // the script where you handle the form input.

    $.ajax({
           type: "POST",
           url: url,
           data: $("#addNew form").serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert(data); // show response from the php script.
           }
         });

    return false; // avoid to execute the actual submit of the form.
});
function recenzje()
{
    $('#addNew').fadeToggle('slow');

    $("#addNew form").submit();
}
</script>